.navbar {
  background-color: #212529;
  padding: 15px 0;
}

.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar .logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.navbar .mx-auto {
  position: absolute;
  left: 50%; 
  transform: translateX(-50%);
}

.navbar .d-flex {
  display: flex;
  align-items: center;
}

.navbar .ms-auto {
  margin-left: auto;
}

.navbar .btn {
  margin: 0 5px;
  font-size: 16px;
}

.app-container {
  padding-top: 90px;
  background-color: #343a40;
}