
.navbar-home {
    background-color: #212529;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .navbar-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  .btn-back,
  .btn-menu {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: auto; /* Ajusta el ancho al contenido del botón */
    flex-shrink: 0; /* Evita que los botones se expandan */
    display: inline-block; /* Asegura que los botones no ocupen todo el ancho */
  }
  
  .btn-back:hover,
  .btn-menu:hover {
    background-color: #343a40;
  }
  
  .dropdown-menu {
    background-color: #343a40;
    color: white;
    position: absolute;
    top: 50px;
    right: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
  }
  
  .dropdown-menu li {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-menu li:hover {
    background-color: #495057;
  }