* {
  margin: 0;
  padding: 0; 
  display: flex;
}


body {
  font-family: Arial, sans-serif;
  background-color: #343a40;
  color: #f8f9fa;
}

.navbar {
  background-color: #212529;
}

.app-container {
  
  background-color: #343a40;
}
